.align-center {
    text-align: center;
}

.menu-content {
    background-color: #191933 !important;
    height: 100vh;
}

.grid-x {
    width: 100%;
}

.margin-top-1 {
    margin-top: 1rem;
}

.margin-top-2 {
    margin-top: 2rem;
}

.margin-top-3 {
    margin-top: 3rem;
}

.f8 {
    font-size: 13px;
}

.f9 {
    font-size: 16px;
}

.t-bold {
    font-weight: bold;
}

.tc-1 {
    color: #ffffff;
}

.tc-2 {
    color: #212121;
}

.align-right {
    text-align: right;
}

.btn-action {
    background: #272AD3;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

._input-text {
    width: 100%;
    background: #ffffff;
    border-radius: 5px;
}

.igx-input-group__bundle {
    padding-top: 0 !important;
}

.igx-input-group {
    background: black !important;
}