<div class="host">
    <div class="grid-x">
        <div class="cell small-2 menu-content">
            <menu class="menu"></menu>
        </div>
        <div class="cell small-10">
            <div class="grid-x grid-padding-x grid-padding-y margin-top-3">
                <div class="cell small-11 small-offset-1">
                    <span class="f9 t-bold tc-2">Edición de Artículo</span>
                </div>
            </div>
            <div class="grid-x grid-padding-x grid-padding-y margin-top-3">
                <div class="cell small-4 small-offset-1">
                    <span class="f8 t-bold tc-2">Título</span>
                    <input type="text" class="_input-text" placeholder="Título">
                </div>
                <div class="cell small-4">
                    <span class="f8 t-bold tc-2">Título</span>
                    <igx-date-picker></igx-date-picker>
                </div>
            </div>
            <div class="grid-x grid-padding-x grid-padding-y">
                <div class="cell small-4 small-offset-1">
                    <span class="f8 t-bold tc-2">Imagen</span>
                    <textarea type="text" class="_input-text" placeholder="Título"></textarea>
                </div>
                <div class="cell small-4">
                    <span class="f8 t-bold tc-2">Imagen</span>
                    <input type="file">
                </div>
            </div>
            <div class="grid-x grid-padding-x grid-padding-y">
                <div class="cell small-4 small-offset-1">
                    <button class="btn-action _btn-save">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>