<div class="menu">
    <div class="grid-x margin-top-2">
        <div class="cell small-12 align-center">
            <img src="assets/img/grey-logo.svg" alt="" width="200">
            <div class="f8 t-bold tc-1 margin-top-1">
                Backoffice v1
            </div>
        </div>
    </div>
    <div class="grid-x margin-top-2 tc-1 t-bold">
        <div class="cell small-12">
            <div>
                <a routerLink="/articles" routerLinkActive="active" class="tc-1">Artículos</a>
            </div>
            <div>
                <a routerLink="/articles" routerLinkActive="active" class="tc-1">Proyectos</a>
            </div>
            <div>
                <a routerLink="/articles" routerLinkActive="active" class="tc-1">Ventanas de votación</a>
            </div>
            <div>
                <a routerLink="/articles" routerLinkActive="active" class="tc-1">Aspirantes</a>
            </div>
            <div>
                <a routerLink="/articles" routerLinkActive="active" class="tc-1">Integrantes</a>
            </div>
        </div>
    </div>
</div>